/* Slick Slider */

@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,400&display=swap");
.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	--webkit-touch-callout: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-slider .slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
}

.slick-slider .slick-list:focus {
	outline: none;
}

.slick-slider .slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-slider .slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

.slick-loading .slick-slider .slick-track {
	visibility: hidden;
}

.slick-slide {
	height: 100%;
	min-height: 1px;
	display: none;
}

[dir="rtl"] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical.slick-slider .slick-track{
	flex-direction: column;
}
.slick-vertical .slick-slide {
	display: block;
	height: auto;
	width: 100% !important;
}

.slick-slider .slick-dots {
	position: relative;
    text-align: center;
    margin: 30px 0;
}

.slick-slider .slick-dots li {
	display: inline-block;
	vertical-align: middle;
	list-style: none;
	line-height: 0;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 0;
}


.slick-slider .slick-dots li button {
	width: 15px;
	height: 15px;
	padding: 0;
	border: none;
	border-radius: 100%;
	font-size: 0;
	background-color: #444050;
	transition: background-color ease 0.3s, opacity ease 0.3s;
	outline: none;
}

.slick-slider .slick-dots li button:focus,
.slick-slider .slick-dots li button:hover {
	outline: none;
	cursor: pointer;
	background-color: #F53131;
	opacity: 0.8;
}

.slick-slider .slick-dots li.slick-active button {
	background-color: #F53131;
}

.slick-arrow {
	position: absolute;
	top: -94px;
	padding: 0;
	width: 36px;
	height: 36px;
	font-size: 0;
	box-shadow: none;
	border: none;
	transition: opacity ease 0.3s;
	z-index: 8;
	background-image: url(../../images/next-prev-arrow.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25px;
}

.slick-arrow:focus:not(.slick-disabled) {
	outline: none;
}

.slick-arrow:hover:not(.slick-disabled) {
	outline: none;
	cursor: pointer;
}

.slick-arrow.slick-prev {
	right: 19%;
	transform: rotate(180deg);
}

.slick-arrow.slick-next {
	right: 16%;
}

.slick-arrow.slick-hidden {
	display: none;
}

.slick-arrow.slick-disabled {
	opacity: 0.5;
	cursor: default;
}

@media (max-width: 1439px){
	.slick-arrow.slick-prev {
		right: 14%;
	}
	.slick-arrow.slick-next {
		right: 10%;
	}
}
@media (max-width: 991px) {
	.slick-slider .slick-dots li button {
		width: 10px;
		height: 10px;
		border: 2px solid #fff;
		background-color: transparent;
	}

	.slick-slider .slick-dots li button:focus,
	.slick-slider .slick-dots li button:hover {
		background-color: #fff;
	}

	.slick-slider .slick-dots li.slick-active button {
		background-color: #fff;
	}
	.slick-slider .slick-dots{
		position: relative;
		top: auto;
		right: auto;
		text-align: center;
		margin: 33px 0 0;
	}
}